@model IEnumerable<Lab4.Models.Community>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>

<p>
    This is the index linked from Home Controller
</p> 
<p>
    I'm a student at algonquin college named William and I'm having a bit of trouble getting this lab done. Hopefully it's complete by the time you see this.
</p>